Unsupported algorithm - SHA-256withRSA

Buenas, estoy empleando el algoritmo de firma SHA-256withRSA, y estoy obteniendo error en la firma.
He podido ver en la clase XMLConstants que la url que tiene declarada no resuelve:

URL_SHA256_RSA  = "http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
![image](https://user-images.githubusercontent.com/35228399/191027338-78112821-21ae-4a6d-9808-74a3025c4ff5.png)

¿Ya no hay soporte para este algoritmo? ¿Cómo podría resolver esto, existe una nueva url que resuelva?, Gracias de antemano.
Un saludo.

Hola, @MANUJ243: 

La URL sigue siendo válida independientemente de a donde apunte. No es más que un identificador del algoritmo.

Si buscas en [https://datatracker.ietf.org](https://datatracker.ietf.org) la RFC 4051 que te indican en la captura que envías, veras que en ella se define el algoritmo. Además, arriba del todo, verás que esa RFC quedó obsoleta por la RFC 6931, y esta a su vez por la RFC 9231, actualizada en julio de este año. Incluso en esta nueva RFC aparece el algoritmo [http://www.w3.org/2001/04/xmldsig-more#rsa-sha256](http://www.w3.org/2001/04/xmldsig-more#rsa-sha256).

Un saludo,

Buenas @Gamuci,
¡Muchas gracias por tu pronta respuesta!, revisaré lo que me comentas.
Un saludo ;)